<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <center><h1><b>LOGIN</b></h1></center>
    <form action="/login" method="POST">
    <table>
        <tr>
            <td>name</td>
            <td><input type="text" name="uname" id=""></td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td><input type="text" name="" id=""></td>
        </tr>
    </table>
    </form>
</body>
</html>'