<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/home" method="POST">
            <h1>Signup</h1>
            <table>
                <tr>
                    <td>Full Name</td>
                    <td><input type="text" name="txtuser"></td>
                </tr>
                <tr>
                        <td>Mobile No</td>
                        <td><input type="text" name="mno" ></td>
                    </tr>
                    <tr>
                            <td>Password</td>
                            <td><input type="text" name="pass"></td>
                        </tr>
                        <tr>
                                <td>Conform Password</td>
                                <td><input type="text" name="cnpass"></td>
                            </tr>
                <tr>
                    <td></td>
                    <td><button type="submit">Signup</button></td>
                    <td><a href="/">login</a></td>
                </tr>
            </table>
        </form>
</body>
</html>