<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Add employee, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Employee</title>
</head>
<body>
        <center><h1>Add Employee</h1></center>
        <li>
                <a href="/employee/add">New Permanent</a>
            </li>
        <li>
            <a href="/employee/add">New Temporary</a>
        </li>
</body>
</html>