<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Home</title>
</head>
<body>
    <center><h1>Employee Home</h1></center>
    <li>
            <a href="/employee/add">Add</a>
        </li>
        <li>
                <a href="/employee/view">View</a>
            </li>
            <li>
                    <a href="/employee/edit">Edit</a>
                </li>
                <li>
                        <a href="/employee/Del">Delete</a>
                    </li>
</body>
</html>