<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Home</title>
</head>
<body>
        <center><h1>Product Home</h1></center>
        <li>
                <a href="/Products/pri">Printer</a>
        </li>
        <li>
                <a href="/Products/sca">Scanner</a>
        </li>
</body>
</html>