<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scanner</title>
</head>
<body>
        <center><h1>Scanner</h1></center>
        <li>
                <a href="/Products/sca/add">Add</a>
        </li>
        <li>
                <a href="/Products/sca/rem">Remove</a>
        </li>
</body>
</html>