<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/insert" method="POST">
    <center><h1>Database Sample</h1></center>
    <table>
        <tr>
            <td>name</td>
            <td><input type="text" name="txtname"></td>
        </tr>
        <tr>
                <td>Salary</td>
                <td><input type="text" name="salary"></td>
        </tr>
    </table>
    <center><button type="submit">insert</button></center>
</form>
</body>
</html>